body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 600px;
    padding-bottom: 150px;
}

/*Banner Section Start*/
.top-banner{
    display: flex;
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin-top: 25px;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: coral; 
}
h2 span{
    color: rgb(255, 165, 0);
    font-size: 35px;
}
#paragraph-font{
    background-color: azure;
    text-align: justify;
    box-shadow: 5px 4px 12px gray;
    padding: 20px;
}
.half-width img{
    width: 80%;
    margin-left: 5%;
}
.btn{
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(30deg, lightsalmon, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 50px 0;
    font-weight: 700;
}
a:hover{
    border-radius: 0 50px;
    transition: 0.3s;
    color: blue;
}
/*Banner Section End*/

/*Dream Area Section Start*/
.dream-area{
    display: flex;
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.dream-text{
    margin-right: 150px;
}
/*Dream Area Section End*/

/*Experience Section Start*/
.experience{
    background-image: url('../images/exp-bg.png');
    background-repeat: no-repeat;
    background-position-y: center;
    margin-top: -100px;
}
.experience-area{
    display: flex;
    margin-left: 5%;
    padding: 50px;
}
#experience-h1{
    text-align: center;
    padding-bottom: 50px;
}
.exp-text{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    background-color: azure;
}
.exp-text h3{
    font-size: 35px;
    margin-left: 25px;
}
.exp-text h4{
    font-size: 20px;
    color: rgb(255, 165, 0);
    margin-left: 25px;
}
.exp-text p{
    text-align: justify;
    padding: 0px 25px 20px 25px;
}
#full-stack{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    width: 45%;
    margin-right: 70px;
}
#baby-web{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    width: 45%;
}
/*Experience Section End*/
footer p{
    text-align: center;
    margin-top: 60px;
}
/*Footer Section Start*/

/*Footer Section End*/